<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="/public/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Raspbot</title>

    <!-- Bootstrap -->
    <link href="/dist/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/dist/html5shiv.min.js"></script>
    <script src="/dist/respond.min.js"></script>
    <![endif]-->
    <script src="/dist/socket.io-1.4.5.js"></script>
    <script src="/dist/jquery-2.2.4.min.js"></script>
    <script src="/dist/jquery.terminal.min.js"></script>
    <script src="/js/control-script.js"></script>
    <link href="/dist/jquery.terminal.min.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
<div class="container">
    <h1>CONTROL</h1>
    <form action="/logout" method="post" class="pull-right">
        <input type="submit" value="LOGOUT" class="btn btn-danger"/>
    </form>
    <a href="/overview" class="btn btn-warning pull-right">BACK</a>
    <div class="row">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Information</h3>
            </div>
            <div class="panel-body">
                <span class="label label-default">IDENTIFIER:</span> <%= connection.id %><br>
                <span class="label label-default">FRIENDLY NAME:</span> <%= connection.name %><br>
                <span class="label label-default">IP-ADDRESS:</span> <%= connection.ip %><br>
                <span class="label label-default">PORT:</span> <%= connection.port %><br>

            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Control</h3>
            </div>
            <div class="panel-body">
                <div id="terminal-control" data-connection-id="<%= connection.id %>"></div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/dist/bootstrap.min.js"></script>
</body>
</html>