<% include partials/header_private.ejs %>
<div class="container">

    <h1>OVERVIEW</h1>
    <% include partials/logout.ejs %>
    <h2>Log</h2>
    <div id="terminal"></div>
    <h2>Current connections (<span id="number_of_connections"><%= connections.length%></span>)</h2>
    <table class="table table-striped table-hover table-responsive table-condensed" id="connections">
        <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>IP</th>
            <th>PORT</th>
            <th>ACTION</th>
        </tr>
        </thead>
        <tbody>
        <% for(var connection of connections){ %>
        <tr data-connection-id="<%= connection.id %>">
            <td><%= connection.id %></td>
            <td><%= connection.name %></td>
            <td><%= connection.ip %></td>
            <td><%= connection.port %></td>
            <td><a href="/control/<%= connection.id %>" class="btn btn-success btn-xs">CONTROL</a></td>
        </tr>
        <%}%>
        </tbody>
    </table>
</div>
<% include partials/footer_private.ejs %>
