<% include partials/header_private.ejs %>
<div class="container">
    <h1>Overview</h1>
    <h2>Log</h2>


    <h2>Current connections (<%= connections.length%>)</h2>
    <table class="table table-striped table-hover table-responsive table-condensed" id="connections">
        <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>IP</th>
            <th>PORT</th>
            <th>ACTION</th>
        </tr>
        </thead>
        <tbody>
        <% for(var connection of connections){ %>
        <tr>
            <td><%= connection.id %></td>
            <td><%= connection.name %></td>
            <td><%= connection.ip %></td>
            <td><%= connection.port %></td>
            <td><a href="/control/<%= connection.id %>">CONTROL</a></td>
        </tr>
        <%}%>
        </tbody>
    </table>
</div>
<% include partials/footer_private.ejs %>
